<%= tag.div(class: classes, data: { type: @type, controller: "lui-banner" }) do %>
  <%= heroicon(icon, variant: :outline, options: { class: icon_classes }) %>
  <span class="lui:sr-only"><%= @type.to_s.humanize %></span>
  <h5 class="<%= title_classes %>"><%= @title %></h5>
  <div class="lui:text-foreground-secondary"><%= content %></div>
  <% if footer.present? %>
    <div class="lui:mt-3">
      <%= footer %>
    </div>
  <% end %>
<% end %>
