<%= tag.div(class: classes, data: data) do %>
  <% if header? || title? || description? || action? %>
    <div data-slot="card-header" class="lui:grid lui:auto-rows-min lui:grid-rows-[auto_auto] lui:items-start lui:gap-1.5 lui:px-6 <%= 'lui:grid-cols-[1fr_auto]' if action? %>">
      <% if header? %>
        <%= header %>
      <% end %>
      <% if title? %>
        <div data-slot="card-title" class="lui:text-base lui:leading-none lui:font-semibold lui:tracking-tight lui:text-foreground">
          <%= title %>
        </div>
      <% end %>
      <% if description? %>
        <div data-slot="card-description" class="lui:text-foreground-muted lui:text-sm/relaxed">
          <%= description %>
        </div>
      <% end %>
      <% if action? %>
        <div data-slot="card-action" class="lui:col-start-2 lui:row-span-2 lui:row-start-1 lui:self-start lui:justify-self-end">
          <%= action %>
        </div>
      <% end %>
    </div>
  <% end %>
  <% if content.present? %>
    <div data-slot="card-content" class="lui:px-6">
      <%= content %>
    </div>
  <% end %>
  <% if footer? %>
    <div data-slot="card-footer" class="lui:flex lui:items-center lui:gap-4 lui:border-t lui:border-border lui:px-6 lui:pt-6">
      <%= footer %>
    </div>
  <% end %>
<% end %>
