<div
  data-controller="lui-checkbox"
  data-slot="field"
  class="lui:grid lui:grid-cols-[1.125rem_1fr] lui:items-center lui:gap-x-4 lui:gap-y-1 lui:sm:grid-cols-[1rem_1fr] lui:*:data-[slot=control]:col-start-1 lui:*:data-[slot=control]:row-start-1 lui:*:data-[slot=control]:justify-self-center lui:*:data-[slot=label]:col-start-2 lui:*:data-[slot=label]:row-start-1 lui:*:data-[slot=label]:justify-self-start lui:*:data-[slot=description]:col-start-2 lui:*:data-[slot=description]:row-start-2 lui:has-data-[slot=description]:**:data-[slot=label]:font-medium"
  >
  <%= tag.span(data: control_data, class: "lui:group lui:inline-flex lui:focus:outline-hidden", role: "checkbox", aria_checked: "false",  tabindex: 0) do %>
    <span class="lui:relative lui:isolate lui:flex lui:size-[1.125rem] lui:items-center lui:justify-center
      lui:rounded-[0.3125rem] lui:sm:size-4 lui:before:absolute lui:before:inset-0 lui:before:-z-10
      lui:before:rounded-[calc(0.3125rem-1px)] lui:before:bg-surface-input lui:before:shadow-sm
      lui:group-data-checked:before:bg-(--checkbox-checked-bg) lui:border lui:border-border-strong
      lui:group-data-checked:border-transparent lui:group-hover:group-data-checked:border-transparent
      lui:group-hover:border-border-hover lui:group-data-checked:bg-(--checkbox-checked-border)
      lui:after:absolute lui:after:inset-0 lui:after:rounded-[calc(0.3125rem-1px)] lui:after:shadow-[inset_0_1px_--theme(--color-white/15%)]
      lui:group-data-focus:outline lui:group-data-focus:outline-2 lui:group-data-focus:outline-offset-2
      lui:group-data-focus:outline-focus lui:group-data-disabled:opacity-50 lui:group-data-disabled:border-border-strong
      lui:group-data-disabled:bg-surface-hover lui:group-data-disabled:[--checkbox-check:var(--lui-theme-foreground)]/50
      lui:group-data-disabled:before:bg-transparent lui:forced-colors:[--checkbox-check:HighlightText] lui:forced-colors:[--checkbox-checked-bg:Highlight]
      lui:forced-colors:group-data-disabled:[--checkbox-check:Highlight]
      lui:[--checkbox-check:var(--lui-theme-foreground-invert)]
      lui:[--checkbox-checked-bg:var(--lui-theme-surface-invert)]
      lui:[--checkbox-checked-border:var(--lui-theme-border-invert)]"
      >
      <svg class="lui:size-4 lui:stroke-(--checkbox-check) lui:opacity-0 lui:group-data-checked:opacity-100 lui:sm:h-3.5 lui:sm:w-3.5" viewBox="0 0 14 14" fill="none">
        <path class="lui:opacity-100 lui:group-data-indeterminate:opacity-0" d="M3 8L6 11L11 3.5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
        <path class="lui:opacity-0 lui:group-data-indeterminate:opacity-100" d="M3 7H11" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
      </svg>
    </span>
  <% end %>
  <% if render_label? %>
    <label
      data-slot="label"
      class="lui:text-base/6 lui:text-foreground lui:select-none lui:data-disabled:opacity-50 lui:sm:text-sm/6"
      data-action="click->lui-checkbox#toggle"
      >
      <%= effective_label %>
    </label>
  <% end %>
  <% if @description %>
    <p data-slot="description" class="lui:text-base/6 lui:text-foreground-muted lui:data-disabled:opacity-50 lui:sm:text-sm/6">
      <%= @description %>
    </p>
  <% end %>
  <% if @form %>
    <%= @form.hidden_field(@name, value: @checked, data: { lui_checkbox_target: "field" }) %>
  <% else %>
    <%= hidden_field(
      nil,
      @name,
      value: @checked,
      data: { lui_checkbox_target: "field" }
    ) %>
  <% end %>
</div>
