<%= tag.div(class: classes, data:) do %>
  <template data-lui-dropzone-target="template">
    <div class="w-full grid gap-1 my-4" id="#NEW_FILE" data-lui-dropzone-target="file">
      <div class="flex items-center justify-between gap-2">
        <div class="flex items-center gap-2">
          <%= heroicon("document", variant: :outline, options: {class: "w-10 h-10 text-indigo-500"}) %>
          <div class="grid gap-1">
            <h4 class="text-gray-900 text-sm font-normal leading-snug" data-lui-dropzone-target="filename"></h4>
            <h5 class="text-gray-400 text-xs font-normal leading-[18px]" data-lui-dropzone-target="status"></h5>
          </div>
        </div>
        <%= heroicon(
          "x-circle",
          variant: :outline,
          options: {
            class: "w-6 h-6 text-zinc-300 hover:text-indigo-500 hover:cursor-pointer",
            data_action: "click->lui-dropzone#removeFile"
          }) %>
      </div>
      <div class="relative flex items-center gap-2.5 py-1.5">
        <div class="relative w-full h-2.5 overflow-hidden rounded-3xl bg-gray-100">
          <div data-lui-dropzone-target="progressbar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 0%" class="flex h-full items-center justify-center bg-indigo-600 text-white rounded-3xl"></div>
        </div>
        <span data-lui-dropzone-target="percentage-progress" class="ml-2 bg-white rounded-full text-gray-800 text-xs font-medium flex justify-center items-center">0%</span>
      </div>
    </div>
  </template>

  <% if @label %>
    <%= tag.label(
      @label,
      class: "text-base/6 text-zinc-950 select-none data-disabled:opacity-50 sm:text-sm/6",
      data: label_data
    ) %>
  <% end %>
  <% if @description %>
    <%= tag.p(
      @description,
      class: "text-base/6 text-zinc-500 data-disabled:opacity-50 sm:text-sm/6",
      data: description_data
    ) %>
  <% end %>

  <div class="py-9 bg-zinc-50 rounded-2xl border border-gray-300 border-dotted hover:cursor-pointer hover:bg-zinc-100" data-action="click->lui-dropzone#selectFiles">
    <div class="mb-3 flex items-center justify-center">
      <%= heroicon("cloud-arrow-up", variant: :outline, options: {class: "w-10 h-10 text-indigo-500"}) %>
    </div>
    <% if @placeholder %>
      <h2 class="text-center text-gray-400 text-xs font-normal leading-4 mb-1"><%= @placeholder %></h2>
    <% end %>
    <h4 class="text-center text-gray-900 text-sm font-medium leading-snug"><%= t("dropzone.default_message") %></h4>
    <% if @form %>
      <%= @form.file_field(
        @name,
        multiple: @multiple,
        class: "hidden",
        direct_upload: true,
        data: input_data,
        accept: @accept
      ) %>
    <% else %>
      <%= file_field_tag(
        @name,
        value: @value,
        multiple: @multiple,
        class: "hidden",
        direct_upload: true,
        data: input_data,
        accept: @accept
      ) %>
    <% end %>
  </div>

  <% if has_errors? %>
    <%= tag.p(
      error_messages,
      class: "text-base/6 text-red-600 data-disabled:opacity-50 sm:text-sm/6",
      data: error_data
    ) %>
  <% end %>
  <div data-lui-dropzone-target="files"></div>
<% end %>
