<%= tag.div(class: classes) do %>
  <%= render_label %>
  <% if @description %>
    <%= tag.p(
      @description,
      class: "lui:text-base/6 lui:text-zinc-500 lui:data-disabled:opacity-50 lui:sm:text-sm/6",
      data: description_data
    ) %>
  <% end %>
  <% if @type == :hidden %>
    <%= render_hidden_input %>
  <% elsif @type == :range %>
    <span data-slot="control" class="lui:block lui:w-full lui:py-2">
      <%= render_range_input %>
    </span>
  <% elsif @type == :color %>
    <span data-slot="control" class="lui:block lui:py-1">
      <%= render_color_input %>
    </span>
  <% elsif standard_input_type? %>
    <span data-slot="control" class="<%= control_classes %>">
      <%= render_input %>
    </span>
  <% end %>
  <% if has_errors? %>
    <%= tag.p(
      error_messages,
      class: "lui:text-base/6 lui:text-red-600 lui:data-disabled:opacity-50 lui:sm:text-sm/6",
      data: error_data
    ) %>
  <% end %>
<% end %>
