<%= tag.div(
  class: classes,
  data:
) do %>
  <% if @label %>
    <%= tag.label(
      @label,
      class: "lui:text-base/6 lui:text-zinc-950 lui:select-none lui:data-disabled:opacity-50 lui:sm:text-sm/6",
      data: label_data
    ) %>
  <% end %>
  <% if @description %>
    <%= tag.p(
      @description,
      class: "lui:text-base/6 lui:text-zinc-500 lui:data-disabled:opacity-50 lui:sm:text-sm/6",
      data: description_data
    ) %>
  <% end %>
  <% if @form %>
    <% if @type == :hidden %>
      <%= @form.hidden_field(@name, **hidden_html_options) %>
    <% elsif @type == :range %>
      <span data-slot="control" class="lui:block lui:w-full lui:py-2">
        <%= @form.range_field(@name, **range_html_options) %>
      </span>
    <% elsif @type == :color %>
      <span data-slot="control" class="lui:block lui:py-1">
        <%= @form.color_field(@name, **color_html_options) %>
      </span>
    <% else %>
      <span data-slot="control" class="lui:relative lui:block lui:w-full lui:before:absolute lui:before:inset-px lui:before:rounded-[calc(var(--radius-lg)-1px)] lui:before:bg-white lui:before:shadow-sm lui:after:pointer-events-none lui:after:absolute lui:after:inset-0 lui:after:rounded-lg lui:after:ring-transparent lui:after:ring-inset lui:sm:focus-within:after:ring-2 lui:sm:focus-within:after:ring-blue-500 lui:has-data-disabled:opacity-50 lui:has-data-disabled:before:bg-zinc-950/5 lui:has-data-disabled:before:shadow-none lui:has-data-invalid:before:shadow-red-500/10">
        <% case @type %>
        <% when :text %>
          <%= @form.text_field(@name, **input_html_options) %>
        <% when :email %>
          <%= @form.email_field(@name, **input_html_options) %>
        <% when :password %>
          <%= @form.password_field(@name, **input_html_options) %>
        <% when :number %>
          <%= @form.number_field(@name, **input_html_options) %>
        <% when :date %>
          <%= @form.date_field(@name, **input_html_options) %>
        <% when :datetime %>
          <%= @form.datetime_field(@name, **input_html_options) %>
        <% when :month %>
          <%= @form.month_field(@name, **input_html_options) %>
        <% when :week %>
          <%= @form.week_field(@name, **input_html_options) %>
        <% when :time %>
          <%= @form.time_field(@name, **input_html_options) %>
        <% when :url %>
          <%= @form.url_field(@name, **input_html_options) %>
        <% when :search %>
          <%= @form.search_field(@name, **input_html_options) %>
        <% when :phone, :telephone %>
          <%= @form.telephone_field(@name, **input_html_options) %>
        <% end %>
      </span>
    <% end %>
  <% else %>
    <% if @type == :hidden %>
      <%= hidden_field_tag(@name, @value, **hidden_html_options) %>
    <% elsif @type == :range %>
      <span data-slot="control" class="lui:block lui:w-full lui:py-2">
        <%= range_field_tag(@name, @value, **range_html_options) %>
      </span>
    <% elsif @type == :color %>
      <span data-slot="control" class="lui:block lui:py-1">
        <%= color_field_tag(@name, @value, **color_html_options) %>
      </span>
    <% else %>
      <span data-slot="control" class="lui:relative lui:block lui:w-full lui:before:absolute lui:before:inset-px lui:before:rounded-[calc(var(--radius-lg)-1px)] lui:before:bg-white lui:before:shadow-sm lui:after:pointer-events-none lui:after:absolute lui:after:inset-0 lui:after:rounded-lg lui:after:ring-transparent lui:after:ring-inset lui:sm:focus-within:after:ring-2 lui:sm:focus-within:after:ring-blue-500 lui:has-data-disabled:opacity-50 lui:has-data-disabled:before:bg-zinc-950/5 lui:has-data-disabled:before:shadow-none lui:has-data-invalid:before:shadow-red-500/10">
        <% case @type %>
        <% when :text %>
          <%= text_field_tag(@name, @value, **input_html_options) %>
        <% when :email %>
          <%= email_field_tag(@name, @value, **input_html_options) %>
        <% when :password %>
          <%= password_field_tag(@name, @value, **input_html_options) %>
        <% when :number %>
          <%= number_field_tag(@name, @value, **input_html_options) %>
        <% when :date %>
          <%= date_field_tag(@name, @value, **input_html_options) %>
        <% when :datetime %>
          <%= datetime_field_tag(@name, @value, **input_html_options) %>
        <% when :month %>
          <%= month_field_tag(@name, @value, **input_html_options) %>
        <% when :week %>
          <%= week_field_tag(@name, @value, **input_html_options) %>
        <% when :time %>
          <%= time_field_tag(@name, @value, **input_html_options) %>
        <% when :url %>
          <%= url_field_tag(@name, @value, **input_html_options) %>
        <% when :search %>
          <%= search_field_tag(@name, @value, **input_html_options) %>
        <% when :phone, :telephone %>
          <%= telephone_field_tag(@name, @value, **input_html_options) %>
        <% end %>
      </span>
    <% end %>
  <% end %>
  <% if has_errors? %>
    <%= tag.p(
      error_messages,
      class: "lui:text-base/6 lui:text-red-600 lui:data-disabled:opacity-50 lui:sm:text-sm/6",
      data: error_data
    ) %>
  <% end %>
<% end %>
