<%= tag.div data:, class: classes do %>
  <%= render_label %>
  <% if @description %>
    <p data-slot="description" class="lui:text-base/6 lui:text-zinc-500 lui:data-disabled:opacity-50 lui:sm:text-sm/6" <%= "data-disabled=true" if @disabled %>>
      <%= @description %>
    </p>
  <% end %>
  <span data-slot="control" class="<%= control_classes %>">
    <%= render_select %>
  </span>
  <% if has_errors? %>
    <%= tag.p(
      error_messages,
      class: "lui:text-base/6 lui:text-red-600 lui:data-disabled:opacity-50 lui:sm:text-sm/6",
      data: error_data
    ) %>
  <% end %>
<% end %>
