<div class="lui:border-border-subtle lui:border lui:rounded-lg">
  <table class="lui:min-w-full lui:text-left lui:text-sm/6 lui:text-foreground lui:border-collapse lui:border-inherit">
    <thead class="lui:text-foreground-muted">
      <tr class="">
        <% columns.each do |column| %>
          <th class="lui:border-b lui:border-b-border lui:px-4 lui:py-2 lui:font-medium"><%= column.title %></th>
        <% end %>
        <% if actions.present? %>
          <th class="lui:border-b lui:border-b-border lui:px-4 lui:py-2 lui:font-medium"><%= @actions_title %></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% if @data.empty? %>
        <tr>
          <td class="lui:p-4 lui:text-center" colspan="<%= columns.size + (actions.present? ? 1 : 0) %>">
            <p class="lui:font-medium"><%= @empty_message %></p>
          </td>
        </tr>
      <% else %>
        <% @data.each do |row| %>
          <tr class="lui:group">
            <% columns.each do |column| %>
              <td class="lui:p-4 lui:border-b lui:border-border-subtle lui:group-last:border-b-0">
                <%= column.call(row) %>
              </td>
            <% end %>
            <% if actions.present? %>
              <td class="lui:p-4 lui:flex lui:gap-3 lui:border-b lui:border-border-subtle lui:group-last:border-b-0">
                <% actions.each do |action| %>
                  <%= action.call(row) %>
                <% end %>
              </td>
            <% end %>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
