<div class="border-zinc-950/5 border rounded-lg">
  <table class="min-w-full text-left text-sm/6 text-zinc-950 border-collapse border-inherit">
    <thead class="text-zinc-500">
      <tr class="">
        <% columns.each do |column| %>
          <th class="border-b border-b-zinc-950/10 px-4 py-2 font-medium"><%= column.title %></th>
        <% end %>
        <% if actions.present? %>
          <th class="border-b border-b-zinc-950/10 px-4 py-2 font-medium"><%= @actions_title %></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% if @data.empty? %>
        <tr>
          <td class="p-4 text-center" colspan="<%= columns.size + (actions.present? ? 1 : 0) %>">
            <p class="font-medium"><%= @empty_message %></p>
          </td>
        </tr>
      <% else %>
        <% @data.each do |row| %>
          <tr class="group">
            <% columns.each do |column| %>
              <td class="p-4 border-b border-zinc-950/5 group-last:border-b-0">
                <%= column.call(row) %>
              </td>
            <% end %>
            <% if actions.present? %>
              <td class="p-4 flex gap-3 border-b border-zinc-950/5 group-last:border-b-0">
                <% actions.each do |action| %>
                  <%= action.call(row) %>
                <% end %>
              </td>
            <% end %>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
